<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.flyscale.callsettings">

    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".CallForwardingActivity"/>
        <activity android:name=".CallBlockingActivity"/>
        <activity android:name=".OpenCloseActivity"/>
        <activity android:name=".StatusActivity"/>
        <activity android:name=".SetCallWaitingActivity"/>
        <activity android:name=".ForwardCancelAll"/>
        <activity android:name=".ForwardReach"/>
        <activity android:name=".ForwardNoReply"/>
        <activity android:name=".ForWardBusy"/>
        <activity android:name=".ForWardAll"/>
        <activity android:name=".ForwardAllOpen"/>
        <activity android:name=".ForwardAllClose"/>
        <activity android:name=".ForwardAllStatus"/>
        <activity android:name=".ForwardBusyOpen"/>
        <activity android:name=".ForwardBusyClose"/>
        <activity android:name=".ForwardBusyStatus"/>
        <activity android:name=".ForwardNoReplyOpen"/>
        <activity android:name=".ForwardNoReplyClose"/>
        <activity android:name=".ForwardNoReplyStatus"/>
        <activity android:name=".ForwardReachOpen"/>
        <activity android:name=".ForwardReachClose"/>
        <activity android:name=".ForwardReachStatus"/>
        <activity android:name=".DelayToDialActivity"/>
        <activity android:name=".IPShortCutActivity"/>

        <receiver android:name=".receiver.PhoneStateReceiver">
            <intent-filter>
                <action android:name="android.intent.action.NEW_OUTGOING_CALL"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>